  a:link,
  a:visited,
  a:active {
      text-decoration: none;
  }
  
   :root {
      --fondo: #132225;
      --celesteclaro: #a6f5d8;
      --celestemedio: #3a7875;
      --celesteoscuro: #14555b;
      --cafeoscuro: #3e3023;
      --cafe: #564624;
      --dorado: #ae914b;
      --doradoclaro: #f4de93;
  }
  
  @font-face {
      font-family: 'Beaufort Extended';
      src: url(./FontsFree-Net-hgsggf.ttf) format('truetype');
      font-style: normal;
      font-weight: normal;
  }
  
  footer {
      color: var(--celesteclaro);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: italic;
      font-size: small;
      text-align: center;
      padding: 1rem;
      background-color: var(--celesteoscuro)
  }
  
  .piedepagina a {
      justify-content: space-around;
      margin: 0 auto;
      cursor: pointer;
      font-size: 1.5rem;
      color: var(--celesteclaro);
      text-decoration: none;
      padding: 0.5rem;
  }
  
  body {
      background-color: var(--fondo);
      margin: 0;
      color: var(--dorado);
  }
  
  header img {
      display: block;
      margin: auto;
      padding: 1rem;
  }
  
  .contn {
      padding: 1.5rem;
      background-color: var(--celesteoscuro);
      margin-bottom: 1rem;
      margin: 0 auto 0 auto;
      display: flex;
      flex-direction: column;
      padding: 1rem;
  }
  
  .filtros {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      margin-top: 1rem;
  }
  
  @media (max-width: 768px) {
      .contn .filtros {
          justify-content: space-evenly;
          width: auto;
          align-items: center;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap-reverse;
          margin-top: 1rem;
          margin-bottom: 1rem;
      }
  }
  
  @media (max-width: 768px) {
      .contn {
          margin: 0 auto;
      }
  }
  
  #buscar {
      appearance: none;
      border: 0px;
      border-radius: 0.5rem;
      padding: 0.5rem;
      background-color: var(--celestemedio);
      color: var(--doradoclaro);
      margin-bottom: 1rem;
  }
  
   ::placeholder {
      /*Cambiar las propiedades del texto que aparece dentro de buscar*/
      color: var(--doradoclaro);
      opacity: 50%;
  }
  
  select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 0.5rem;
      cursor: pointer;
      width: 10rem;
      background-color: var(--celestemedio);
      color: var(--doradoclaro);
      border-radius: 0.5rem;
      -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.34);
      -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.34);
      box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.34);
      border: 0px;
      margin-bottom: 0.5rem;
  }
  
  select::after {
      content: '\25BC';
      position: absolute;
      top: 1;
      right: 1;
      padding: 1rem;
      background: #2b2e2e;
      cursor: pointer;
      pointer-events: none;
      transition: .25s all ease;
  }
  
  .contenedorCampeones {
      width: 90%;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      align-content: center;
      flex-wrap: wrap;
      padding: 1rem;
      margin-top: 1rem;
  }
  
  .lolfront {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--cafeoscuro);
      width: 22%;
      margin: 0 auto;
      margin-bottom: 1rem;
      padding-top: 1rem;
      padding-right: 0;
      padding-bottom: 3rem;
      padding-left: 0;
      text-align: center;
      cursor: pointer;
      font-size: 1.25rem;
      border-radius: 0.5rem;
      -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.37);
      -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.37);
      box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.37);
      position: relative;
  }
  
  .lolfront.id {
      visibility: visible;
  }
  
  .lolfront h2 {
      text-align: justify;
      padding: 1rem;
      font-size: small;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: lighter;
      font-size: medium;
  }
  
  .lolfront h1 {
      align-items: center;
      font-family: 'Della Respira';
      color: var(--dorado)
  }
  
  .lolfront img {
      width: 5rem;
      align-items: center;
  }
  
  .lolback {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: var(--cafe);
      color: var(--dorado);
      width: 100%;
      margin: 0 auto;
      padding-top: 0.5rem;
      padding-right: 0;
      padding-bottom: 0.5rem;
      padding-left: 0;
      text-align: center;
      cursor: pointer;
      font-size: 1.25rem;
      border-radius: 0.5rem;
      position: absolute;
      -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.37);
      -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.37);
      box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.37);
  }
  
  .lolback h1 {
      text-align: center;
      font-size: larger;
      padding: 0.5rem;
  }
  
  .atributos {
      display: flex;
      flex-direction: row-reverse;
      width: 80%;
  }
  
  .atributos h2 {
      text-align: center;
      margin: 0 auto;
      font-size: x-large;
      padding: 1rem;
      margin-bottom: 2rem;
      word-spacing: 1rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .atributos img {
      width: 20%;
      height: 20%;
      padding: 1rem;
  }
  
  .botones {
      display: flex;
      justify-content: space-evenly;
      padding: 1rem;
      margin: 0 auto;
      width: 20%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .botones #botonatras,
  #botonsiguiente {
      cursor: pointer;
      appearance: none;
      background-color: var(--cafe);
      color: var(--dorado);
      text-decoration: none;
      border: none;
      width: 35%;
      border-radius: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding: 0.3rem;
  }
  
  #botonatras:hover {
      background-color: var(--dorado);
      color: var(--cafeoscuro);
  }
  
  #botonsiguiente:hover {
      background-color: var(--dorado);
      color: var(--cafeoscuro);
  }
  
  @media (max-width: 1000px) {
      .lolfront {
          width: 30%;
          margin: 0 auto;
      }
      .botones {
          width: auto;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          padding: 0.5rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
      }
      #botonsiguiente {
          margin-bottom: 0.8rem;
          margin-top: 0.8rem;
      }
  }
  
  @media (max-width: 871px) {
      .lolfront {
          width: 45%;
          margin: 0 auto;
          margin-bottom: 1rem;
      }
  }
  
  @media (max-width: 585px) {
      .lolfront {
          width: 60%;
          margin: 0 auto;
          margin-bottom: 1rem;
      }
  }
  
  @media (max-width: 480px) {
      .lolfront {
          width: 70%;
          margin: 0 auto;
          margin-bottom: 1rem;
      }
  }
  
  @media (max-width: 375px) {
      .lolfront {
          width: 80%;
          margin: 0 auto;
          margin-bottom: 1rem;
      }
      header img {
          width: 80%;
      }
  }
  
  @media (max-width: 585px) {
      .botones {
          width: auto;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          padding: 0.5rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          margin-left: auto;
          margin-right: auto;
      }
      #botonsiguiente {
          margin-bottom: 0.8rem;
          margin-top: 0.8rem;
      }
  }